export(dropbox_acc_info)
export(dropbox_auth)
export(dropbox_copy)
export(dropbox_create_folder)
export(dropbox_delete)
export(dropbox_dir)
export(dropbox_get)
export(dropbox_media)
export(dropbox_move)
export(dropbox_restore)
export(dropbox_save)
export(dropbox_search)
export(dropbox_share)
export(dropbox.file.info)
export(exists.in.dropbox)
export(is.dropbox.cred)
exportClasses(DropboxCredentials)
import(plyr)
import(RCurl)
import(RJSONIO)
import(ROAuth)
import(stringr)
